nav
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: 0;
    background: rgba(0,0,0,0.5);
    color: white;
}

.navbarSU
{
    background: black !important;
    position: relative !important;
}

.navbar
{
    position: absolute;
    padding: 0;
}
.navbar h1
{
    margin: 5px;
}
.navbar a, .navbar button
{
    color: white !important;
    text-decoration: none;
    border-radius: 12.5px !important;
    text-align: center;
    box-shadow: 0 0 3.5px rgba(115, 159, 255, 1) !important;
}
.navbar a:hover, .navbar button:hover
{
    color: white !important;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(151, 234, 255);
}
/* HOME PAGE */

.homePage
{
    background-image: url("../images/Background/joaquin_phoenix_as_joker_2019_4k_8k.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    display: table;
    top: 0;
    left: 0;
    padding: 25px;
}
.JokerBody
{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 15px;
}
.JokerBody h1
{
    font-size: 2rem;
}
footer .row
{
    width: 100%;
    margin: 0;
}
@media only screen and (max-width: 800px) {

    .JokerBody, .navbar, .nav-item, footer
    {
        font-size: .8rem !important;
    }
    .nav-item, .navbar-nav
    {
        padding: 1px !important;
        margin: 0 5px 0 5px !important;
        width: 50% !important;
    }
    .JokerBody h1, h1, h5 { 
       font-size: 1.2rem !important;
    }
    .parallax
    {
        background-repeat:no-repeat !important;
        background-size:100% 100% !important;
        background-position:center !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .homePage, .nowPlaying, .comingSoon{
        width: 100% !important;
        height: 50vh !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    footer p
    {
        padding: 5px;
    }
    .signUpText input
    {
        font-size: 1rem !important;
    }
    label
    {
        font-size: .75rem !important;
    }
    .cardTypeWrapper img
    {
        margin: 0px 2.5px 0px 2.5px !important;
        width: 35px !important;
        height: 35px !important;
    }
 
 }
.JokerBody p
{
    margin: 15px 0px 15px 0px;
}
.JokerBody a
{
    margin-top: 10px auto;
    padding: 10px;
    color: white;
    box-shadow: 0 0 7.5px rgba(115, 159, 255, 1);
    border-color: rgba(115,159,225);
    border-style: solid;
    border-width: 1px;
}
.fll
{
    float: left !important;
}
.flr
{
    float: right !important;
}
.tr
{
    text-align: right;
}
.tl
{
    text-align: left;
}
.p30
{
    padding: 30px;
}
.nowPlayingH, .comingSoonH
{
    padding: 30px;
    width: 100%;
    background: black;
    display: inline-block;
    margin-bottom: 0;
    z-index: 0;
    position: relative;
}
.w100
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.nowPlaying
{
    background-image: url("../images/Background/Background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    padding: 30px 0px 30px 30px;
    margin: 0;
    position: relative;
}
.comingSoon
{
    background-image: url("../images/Background/wp1867349.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    padding: 30px 0px 30px 30px;
    margin: 0;
    position: relative;
}
.carousel hr
{
    margin: 0px 0px 10px 0px;
}
.navbar
{
    box-shadow: 0px 1px 2px rgba(115, 159, 255, 1);
}
.movieTitle
{
    font-size: 5rem !important;
    font-family: 'Courier New', Courier, monospace !important;
    text-shadow: 0px 1px 12px rgba(115, 159, 255, 1);
}
.movieTitle hr
{
    margin: 0;
}
footer
{
    width: 100%;
    background: black;
    position: relative;
}

nav ul
{
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.blue
{
    padding: 0 !important;
}
.carousel button
{
    background: rgba(0,0,0,0.7);
    color: white;
    border-color: rgba(115,159,225,1);
    border-width: 1px;
    border-style: solid;
    padding: 5px 15px 5px 15px;
    border-radius: 12.5px;
    outline: none;
}
.carousel button:hover
{
    font-weight: bold;
    box-shadow: 0 0 5px rgba(115, 159, 255, 1);
    outline: none;
}
.carousel img
{
    margin: auto;
    width: 100%;
}

.carousel h5{
    
    text-decoration: none !important;
    background: rgba(0,0,0,0.3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: white;
    text-shadow: none;
}
.carousel h2
{
    font-size: 2rem;
    text-decoration: none;
}
.nav-item
{
    width: 100%;
    display: inline-block;
    margin: 0 20px 0 20px;
}
body
{
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    width: 100%;
}

hr
{
    padding: 0;
    margin: 0 !important;
    border-bottom: .25px solid rgba(115,159,225,1);
    box-shadow: 0 0 1px rgba(115, 159, 255, 1);
}
.dropdown button
{
    width: 100%;
}
.dropdown-menu
{
    background:rgba(0,0,0,0.7);
}
.dropdown-menu a
{
    box-shadow: none !important;
}
.dropdown-menu a:hover
{
    border-radius: 0% !important;
    box-shadow: none !important;
    text-decoration: underline;
}
hr
{
    box-shadow: 0 0 2px rgb(151, 234, 255);
}
.navbar-nav
{
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: rgba(115, 159, 255, 1);
    width: 100%;
    padding: 10px;
}
.search-container input
{
    padding: 0px 0px 0px 5px;
    background: none;
    border: none;
    outline: none;
    color: white;
    line-height: 40px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
}
.search-container
{
    position: relative;
    padding: 0px;
    background: none;
    border-radius: 12.5px;
    box-shadow: 0 0 3.5px rgba(115, 159, 255, 1);
}
.search-container input::placeholder
{
    color: white;
    opacity: .5;
}
.search-container input:focus {outline:none;}
.borderL
{
    border-left: black;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
}
.searchIcon
{
    border: none;
    border-radius: 50%;
    background: black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 5px;
    outline: none;
}
.searchIcon:focus
{
    outline: none;
    border: none;
}

.red
{
    height: 100%;
    width: 100%;
    background-color: red;
}
.movieBodiesMargin
{
    display: table-cell;
    vertical-align: middle;
}
.movieBodiesMargin h2
{
    text-shadow: 0 0 blue;
    text-align: center;
}
.mt-50
{
margin-top: 50px;
}
.parallax
{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* BACKGROUND IMAGES*/
.bg-beyonce
{
    background-image: url("../images/Background/beyonce_as_nala_in_the_lion_king-2560x1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.bg-avengers
{
    background-image: url("../images/Background/avengers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}
.bg-blueAbstract
{
    background-image: url("../images/Background/3d-abstract-geometric-background_56345-228.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    padding: 100px 50px;
    text-align: center;
    color: white;
}
.bg-blueAbstract a
{
    margin: 20px;
    color: white;
    border: 1px solid rgba(115, 159, 255, 1);
    background: none;
    padding: 10px;
    box-shadow: 0px 0px 5px white;
    font-size: 1rem;
}
.bg-blueAbstract a:hover
{
    background: rgba(115, 159, 255, .3);
    box-shadow: 0px 0px 10px white;
}
.registered
{
    vertical-align: middle;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
.bg-minions{
	background-image: url("../images/Background/thumb-1920-441125.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
}
/* FORMS */
.signUpWrapper
{
    width: 75%;
    padding: 25px;
    background: rgba(0,0,0,0.7);
    position: relative;
    height: 100%;
    margin: auto;
}
.signUpWrapper h1, .signUpWrapper h3, sub
{
    text-align: center;
}
.m100
{
    margin-top: 100px !important;
}
.loginForm
{
    text-align: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0,0,0,0.2);
    border-radius: 25px;
}
.loginForm h1
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 5rem;
    padding: 15px 0;
}
.signUpText
{
    color: white;
    width: 100%;
}
.signUpText input
{
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid;
    border-color: double white;
    box-shadow:inset 0 0 5px 1.5px rgba(115, 159, 255, 1);
    padding: 2px 2px 2px 10px;
    border-radius: 25px;
    margin: 10px 0px 5px 0px;
}
.textbox
{
    text-align: start !important;
    width: 100%;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 2px;
    margin: 3px;
    border-bottom: 1px solid white;
    box-shadow: 0 4px 3.5px -2px rgba(115, 159, 255, 1)
}
.textbox i
{
    float: left;
    text-align: center;
    margin: 7px;
}
.textbox input
{
    text-align: left;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
}
.textbox input::placeholder
{
    color: white;
}
.cardOwner, .cvv
{
    display: inline-block !important;
}
.cardOwner
{
    float: left;
    width: 60% !important;
}

.cvv
{
    float: right;
    width: 30% !important;
}
.signUpText option
{
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 1rem;
}
.signUpText select
{
    color: white;
    border-radius: 25px;
    padding: 3px;
    background: none;
    border: 1px solid;
    border-color: double white;
    box-shadow:inset 0 0 5px 1.5px rgba(115, 159, 255, 1);
    border-radius: 25px;
    margin: 0px 0px 10px 0px;
    float: right;
    width: 60%;
}

#expiration-date
{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: inline-block;
    position: relative;
}
.cardTypeWrapper
{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: inline-block;
    position: relative;
}
.cardTypeWrapper img
{
    margin: 0px 5px 0px 5px;
    width: 75px;
    height: 75px;
}
.signUpText label
{
    text-align: center;
    float: left;
    width: 30%;
    font-size: 1rem;
}
.btn2
{
    width: 100%;
    background: none;
    color: white;
    margin: 15px 0 15px 0;
    padding: 5px;
    box-shadow: 0 0 7.5px rgba(115, 159, 255, 1);
    border-color: rgba(115,159,225);
    border-style: solid;
    border-width: 2px;
}
.loginForm .btn:hover
{
    box-shadow: 0 0 15px rgba(115, 159, 255, 1);
    background-color: rgba(115,159,225, 0.1);
}
.loginForm a
{
    margin: 10px 0px 0px 0px;
    color: white;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid white;
    box-shadow: 0 4px 3.5px -2px rgba(115, 159, 255, 1);
}
.loginForm p
{
    padding: 30px 0px 0px 0px;
    margin: 0;
}
.signupbtn
{
    display: block;
    width: 30%;
    text-align: center;
    margin: 10px auto 10px auto;
    color: white;
    border: solid 1px rgba(115, 159, 255, 1);
    background: none;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    box-shadow: 0px 0px 5px white;
}
.signupbtn:hover
{
    box-shadow: 0px 0px 12px rgba(115, 159, 255, 1);
    border-width: 2px;
    border-color: white;
}
.search-box 
	{
	height:20vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background-position:center;
	}
.search-text{
		color:#fff;
		padding-top:200px;
		text-align: center;
		font-size:45px;
		letter-spacing:2px;
		}	
.search-bar {
padding:10px;
width:350px;
}	
.search-btn{
	height:50px;
	border-radius:25px;
	background-color:yellow;
	width:100px;
}
.dropDown{
	padding:12px;
	border-radius:5px;
}
.tickets{
	margin-left:400px;
	background:rgba(0,0,0,0.7);
	padding:5px;
	margin-right:400px;
    text-align:center;
    margin-bottom: 100px;
}


/*  FOOTER  */
.footer-Body
{
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 20px 0px 20px 0px;
}
.footer-Body .row
{
    width: 100% !important;
}
.footer-Body h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-align: center;
}
.footer-Body h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-align: left;
}
.footer-Body p
{
    font-family: 'Courier New', Courier, monospace;
}
.emailUpdate
{
    float: left;
    margin: 5px 0px 5px 0px;
    width: 70%;
    padding: 3px 0px 3px 6px;
    color: white;
    background: none;
    border: rgba(115, 159, 255, 1) solid 1px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(151, 234, 255);
}

.emailSignUp
{
    float: right;
    width: 25%;
    margin: 5px 0px 5px 0px;
    padding: 3px;
    color: white;
    background: rgba(115,159,225, 0.3);
    border-radius: 25px;
    border: rgba(115, 159, 255, 1) solid 1px;
    box-shadow: 0 0 10px rgba(115, 159, 255, 1);
}
.emailSignUp:hover
{
    box-shadow: 0 0 12px white;
    border-color: rgb(183, 212, 255);
    font-weight: bold;
}
.Navigate
{
    width: 45%;
    color: white;
}
.Navigate a
{
    display: block;
    color: rgba(115, 159, 255, 1);
}
.Navigate a:hover
{
    color: #c1daff;
}
.right
{  
    margin: 0px 0px 0px 5px;
    border: solid rgba(115, 159, 255, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.registerPage
{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    background-image: url("../images/Background/filmBackground.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    position: relative;
}
.registerPage p
{
    margin: 30px 0px 10px 0px;
}
.registerPageWrapper
{
    width: 100%;
    height: 100%;
    padding: 30px;
    background: rgba(0,0,0,0.7);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.e-Body
{
    width: 100%;
    height: 100%;
}
.registerBody
{
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgb(235, 235, 235);
    color: black;
    box-shadow: 0px 0px 10px rgba(115, 159, 255, 1);
}
.registerBody img
{
    margin: 0px 2.5px 0px 2.5px !important;
    width: 35px !important;
    height: 35px !important;
}
.registerBody h1, .registerBody h2
{
    text-align: center;
}
.registerBody input, .registerBody label, .registerBody select {
    display:block;
    width: 100%;
}
.registerBody input, .registerBody select
{
    background: white;
    margin-bottom: 5px;
}
.registerBody label
{
    margin: 0px;
}
.block
{
    display: block;
}
.names
{
    margin: 0px;
    padding: 2px;
    border: rgba(115, 159, 255, 1) 1px solid;
    box-shadow: 0px 0px 5px rgba(115, 159, 255, 1);
}
.namesh
{
    background: rgba(115, 159, 255, .3) !important;
}
.namesh:hover
{
    border: white 1px solid;
    box-shadow: 0 0 10px rgba(115, 159, 255, 1);
    background: white !important;
}
